[submodule "themes/monochrome"]
	path = themes/monochrome
	url = https://github.com/gorillamoe/kitty-terminal-theme-monochrome
[submodule "themes/oldschool"]
	path = themes/oldschool
	url = https://github.com/gorillamoe/kitty-theme-oldschool
